*.ko
*.o
*~
/cscope.*
/kernel/.*.ko.cmd
/kernel/.*.o.cmd
/kernel/.tmp_versions/
/kernel/mhvtl.mod.c
/kernel/Module.symvers
/kernel/modules.order
/kernel/config.h
/scripts/update_device.conf
/man/*.1
/man/*.5
/tcopy/tcopy
local.mk
mhvtl_kernel.tgz

# Vagrant specific files
/vagrant/.vagrant
/vagrant/*.log
