*.ko
*.o
/etc/mhvtl
/kernel/.*.ko.cmd
/kernel/.*.o.cmd
/kernel/.tmp_versions/
/kernel/mhvtl.mod.c
/kernel/Module.symvers
/kernel/modules.order
/scripts/update_device.conf
/usr/dump_messageQ
/usr/dump_tape
/usr/libvtlcart.so
/usr/libvtlscsi.so
/usr/make_vtl_media
/usr/mktape
/usr/tapeexerciser
/usr/vtlcmd
/usr/vtllibrary
/usr/vtltape
