[Unit]
Description=mhvtl service allowing to start/stop all vtltape@.service and vtllibrary@.service instances at once
Documentation=man:man:vtltape(1) man:man:vtllibrary(1)

[Install]
WantedBy=multi-user.target
